@page
@model PTMS.Pages.Admin.SessionPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].TrainerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].SessionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session) {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(model => item.TrainerId)
            </td>
            <td>
                @Html.DisplayFor(model => item.SessionDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
